.tile {
    width: 40%;
    height: 40%;
    padding: 1px !important;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    
 
  }

.tab{
  text-align: center;
}

.slds-button_outline-brand {
    background-color: #ffffff;
    color: rgba(65, 148, 249, 1);
    border: 1px solid grey;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.slds-button_outline-brand:hover {
    background-color: rgba(65, 148, 249, 1);
    color: #ffffff;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

