.no-records-image {
    display: flex;
    justify-content: center;
 }
 
 .image-404 {
    width: 35%;
    height: 50%;
 }

 .container {
   position: relative;
}

.details-container {
   position: sticky;
   top: 20px; /* You can adjust this value to control the vertical position */
   margin-left: 10px; /* You can adjust this value to control the horizontal position */
}
